/* ==========================================================================
HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
========================================================================== */

html,
body,
button,
input,
select,
textarea {
  color: #494a5b;;
}

@font-face {
  font-family: soleil;
  src: url(https://use.typekit.net/af/2e4bb3/00000000000000003b9aef7e/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff2"), url(https://use.typekit.net/af/2e4bb3/00000000000000003b9aef7e/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("woff"), url(https://use.typekit.net/af/2e4bb3/00000000000000003b9aef7e/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3) format("opentype");
  font-style: normal;
  font-display: swap;
  font-weight: 400
}

body {
  font-size: 1em;
  line-height: 1.4;
  font-family: soleil !important;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

img {
  vertical-align: middle;
}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


/* ==========================================================================
Author's custom styles
========================================================================== */

* {
  margin: 0px;
  padding: 0px;
  outline: 0px;
}

/* clearfix from: http://www.webtoolkit.info/css-clearfix.html */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}
#wrapper {
  width: 100%;
  margin: 0 auto;
  max-width: 1100px;
}

header {
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu{
  height: 67px;
  padding: 0;
  display: flex;
  top: 0;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  border-bottom: 1px solid #e4e5f7;
  margin: 0 0 3rem;
}
.menu ul.list-menu {
  display: flex;
  float: right;
  padding: 1rem 0 0;
}
.menu ul.list-menu li {
  list-style: none;
  padding: 0 2rem;
  color:#05006d;
  font-size: 16px;
}
.menu ul.list-menu li a{
  color: #05006d;
  font-size: 16px;
}
.menu ul.list-menu li:last-child{
  border: solid 1px #05006d;
}
.site-logo {
  display: block;
  width: 121px;
  margin: auto;
}

.number-form {
  width: 500px;
  margin: auto;
  padding: 2rem;
  box-shadow: 0 0 10px 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.row.phone-row{
  margin-top: 1.5rem;
}

.verification-status {
  text-align: center;
}

.ok {
  color: #8dcd00;
}

.notok {
  color: #dc504b;
}

.404-message {
  margin-top: 100px;
  text-align: center;
}

/* ==========================================================================
Media Queries
========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
Helper classes
========================================================================== */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

/* ==========================================================================
Print styles
========================================================================== */

@media print {
  * {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
  * Don't show links for images, or javascript/internal links
  */

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* ==========================================================================
Custome style
========================================================================== */

@font-face {
  font-family: soleil;
  src: url(https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff2"), url(https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("woff"), url(https://use.typekit.net/af/1f781f/00000000000000003b9aef83/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3) format("opentype");
  font-style: normal;
  font-display: swap;
  font-weight: 700
}

body * {
  font-family: soleil !important;
}
h1{
  color: #05006d;
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 2rem;
}
h2{
  font-size: 16px;
  font-weight: bold;
}
.logo img{
  width: 130px;
}
.split--5050, .split--3070{
  display: flex;
}
.split--5050>div:nth-child(1) {
  flex: 0 1 60%;
}
.split--5050>div:nth-child(2) {
  flex: 0 1 40%;
}
.split--3070>div:nth-child(1) {
  flex: 0 1 30%;
}
.split--3070>div:nth-child(2) {
  flex: 0 1 70%;
}
.form-section{
  margin: 0 auto;
  text-align: center;
}
.box {
  background: #f7f9fb;
  padding: 1rem 2.5rem;
  margin: 0;
  box-shadow: 9px 13px 45px 4px rgba(204,213,222,.24), -9px -13px 45px 4px rgba(149,168,187,.24);
}
.iti{
  width: 100%;
}
.iti__flag.iti__us {
  margin-top: 3px;
}
.iti__selected-flag {
  background-color: #fff !important;
}
input#phone, input[type="text"]{
  height: 2.625rem;
  padding: 0 .625rem;
  text-transform: none;
  color: #333;
  font-size: 1rem;
  border-color: #fff;
  font-family: soleil;
  line-height: 3;
  outline: 0;
  display: block;
  width: 100%;
  border-radius: .25rem;
  box-shadow: none;
  -webkit-appearance: none;
  font-weight: 300;
  margin-top: 1rem;
}
input#phone:focus,  input[type="text"]:focus{
  background: #fff;
  border: none;
  box-shadow: none;
}
.space-21{
  margin: 2rem 0;
}
.space-10{
  margin: .8rem 0;
}
.space-42{
  margin: 4rem 0;
}
.user{
  padding: 2rem;
}
form label {
  margin: 0 0 .5rem;
  font-size: 16px;
  color: #333333;
  font-weight: 400;
  text-align: left;
}
.d-none{
  display: none;
}
.progress-bar{
  display: flex;
  height: 4px;
  background: #dce3ee;
  margin: 0 -2.5rem;
}
.progress-bar>div:nth-child(1) {
  flex: 0 1 33%;
}
.progress-bar>div:nth-child(2) {
  flex: 0 1 33%;
}
.progress-bar>div:nth-child(3) {
  flex: 0 1 34%;
}
.progress-bar-fill{
  background: #98d49d;
}
.progress-bar-error-fill{
  background: #e6b7b7;
}
.btn {
  border-radius: .25rem;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  padding: 9px 18px;
  white-space: pre-wrap;
  transition: all .15s ease;
  margin-left: auto;
  display: block;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  border: 1px solid transparent;
}
.btn-success {
  color: #fff;
  background-color: #2bb031;
  border-color: #2bb031;
}
.btn.btn-success:hover {
  box-shadow: 0 7px 14px rgba(50,50,93,.1),0 3px 6px rgba(0,0,0,.08)!important;
}
ul.events{
  list-style: none;
  margin-left: 2rem;
}
ul.events li{
  padding: .8rem 0;
}
.events li:before {
  background-image: url(/public/img/active-tick-mark.svg);
  display: inline-block;
  content: '';
  width: 36px;
  height: 66px;
  padding-right: 1px;
  color: transparent;
  text-shadow: 1px -1px 0 #3cd8fb;
  text-align: center;
  margin: 0;
  margin-left: -2rem;
  margin-top: .4rem;
  position: absolute;
  background-repeat: no-repeat;
}
.events li:nth-child(2):before{
  background-image: url(/public/img/inactive-tick-mark.svg);
}
.events li:last-child:before{
  background-image: url(/public/img/inactive-tick-mark-icon.svg);
}
.progress-2:before{
  background-image: url(/public/img/active-tick-mark.svg) !important;
}
.progress-3:before{
  background-image: url(/public/img/active-tick-mark-icon.svg) !important;
}
.progress-error:before{
  background-image: url(/public/img/error-tick-mark-icon.svg) !important;
}
.content-img{
  margin-top: -6rem;
  margin-left: -2rem;
}
.flex-box{
  display: flex;
}
.verified{
  color: #05006d;
  font-size: 18px;
  text-transform: uppercase;
}
.verfied-tick{
  padding-bottom: 1rem;
}
.error-text-box{
  background: #f9f3f3 !important;
  border: 1px solid red !important;
}
.error-text{
  color: #f38080;
  font-size: 14px;
  margin: -1rem 0;
}
footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  left: 0;
  background-color: #f5f7fa;
}
.return a{
  color: #2bb031;
}
.return a:before{
  background-image: url(/public/img/ico_return.svg);
  display: inline-block;
  content: '';
  width: 26px;
  height: 26px;
  padding-right: 1px;
  margin-left: -2rem;
  position: absolute;
  background-repeat: no-repeat;
}
.footer-content{
  width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.footer-copyright {
  color: #999999;
}
footer ul {
  display: flex;
  margin: 0;
  justify-content: center;
  float: right;
}
footer ul li {
  list-style: none;
  padding: 1rem;
}
footer ul li a {
  font-size: 16px;
  color: #333333;
}
